.toggle {
    width: 92px !important;
    height: 38px !important;
}

td {
    vertical-align: middle !important;
}

dt, dd {
    text-align: left !important;
}

.transparent-card .title {
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
    color: #061f4c;
    margin-bottom: 0;
}

.transparent-card .info {
    font-size: 14px;
    line-height: 1.71;
    color: #8a94a6;
}

.panel-card.user-forms {
    padding: 24px 25px;
    box-shadow: 0 3px 3px -1px rgba(10, 22, 70, 0.1), 0 0 1px 0 rgba(10, 22, 70, 0.06);
    background-color: #fff;
    border-radius: 4px;
}

    .panel-card.user-forms .mesgs .msg_history {
        height: 400px;
        overflow-y: auto;
    }
        .panel-card.user-forms .mesgs .msg_history .incoming_msg {
            overflow: hidden;
            margin: 26px 0 26px;
        }
            .panel-card.user-forms .mesgs .msg_history .incoming_msg .received_msg {
                display: inline-block;
                padding: 0 0 0 10px;
                vertical-align: top;
                width: 92%;
            }
                .panel-card.user-forms .mesgs .msg_history .incoming_msg .received_msg .received_withd_msg {
                    width: 57%;
                }
                    .panel-card.user-forms .mesgs .msg_history .incoming_msg .received_msg .received_withd_msg a {
                        color: #007bff;
                        text-decoration: none;
                        background-color: transparent;
                    }
                    .panel-card.user-forms .mesgs .msg_history .incoming_msg .received_msg .received_withd_msg .time_date {
                        color: #4e5d78;
                        display: inline-block;
                        font-size: 12px;
                        margin: 8px 0 0;
                    }
                    .panel-card.user-forms .mesgs .msg_history .incoming_msg .received_msg .received_withd_msg p {
                        background: #ebebeb none repeat scroll 0 0;
                        border-radius: 3px;
                        color: #061f4c;
                        font-size: 14px;
                        margin: 0;
                        padding: 5px 10px 5px 12px;
                        width: 100%;
                    }
        .panel-card.user-forms .mesgs .msg_history .outgoing_msg {
            overflow: hidden;
            margin: 26px 0 26px;
        }
            .panel-card.user-forms .mesgs .msg_history .outgoing_msg .sent_msg {
                float: right;
                width: 46%;
            }
                .panel-card.user-forms .mesgs .msg_history .outgoing_msg .sent_msg .time_date {
                    color: #4e5d78;
                    display: inline-block;
                    font-size: 12px;
                    margin: 8px 0 0;
                }
                .panel-card.user-forms .mesgs .msg_history .outgoing_msg .sent_msg p {
                    background: #05728f none repeat scroll 0 0;
                    border-radius: 3px;
                    font-size: 14px;
                    margin: 0;
                    color: #fff;
                    padding: 5px 10px 5px 12px;
                    width: 100%;
                }
