@using Localization
@using Microsoft.AspNetCore.Mvc.Localization
 @inject IHtmlLocalizer<Translations> localizer
<!--Body-->
<div id="body" class="mb-5">
    <!--Popular Categories-->
    <section class="about-cards-section">
        <h2 class="text-center my-3">Shop By Categories</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 card-wrapper">
                    <div class="card border-0">
                        <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                            <img class="w-100 h-100" src="imgs/img1.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body text-center mt-4">
                            <h5 class="text-uppercase card-title">Wall Art</h5>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 card-wrapper">
                    <div class="card border-0">
                        <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                            <img class="w-100 h-100" src="imgs/img1.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body text-center mt-4">
                            <h5 class="text-uppercase card-title">Posters</h5>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 card-wrapper">
                    <div class="card border-0">
                        <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                            <img class="w-100 h-100" src="imgs/img1.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body text-center mt-4">
                            <h5 class="text-uppercase card-title">Thank You Cards</h5>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 card-wrapper">
                    <div class="card border-0">
                        <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                            <img class="w-100 h-100" src="imgs/img1.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body text-center mt-4">
                            <h5 class="text-uppercase card-title">Gift Cards</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    @{
        var list = new List<int>
        {
            1,2,3,4
        };
    }
    <partial name="~/Views/Shared/Form/_Tariff.cshtml" model="list"/>
    <vc:product-component title="Latest products"></vc:product-component>


    <vc:product-component title="Sale products"></vc:product-component>

    <!--Basket success dialog-->
    <div id="dialog-basket" title="SUCCESS">
        <p>
            <i class="fa-solid fa-check" style="color: #2c511f;"></i>
            Item added to basket!
        </p>
    </div>

    <!--Product downloaded successfully dialog-->
    <div id="downloaded-dialog" title="SUCCESS">
        <p>
            <i class="fa-solid fa-check" style="color: #2c511f;"></i>
            Product downloaded successfully
        </p>
    </div>

    <!--Basket success dialog-->
    <div id="dialog-wishlist" title="SUCCESS">
        <p>
            <i class="fa-solid fa-check" style="color: #2c511f;"></i>
            Item added to wishlist!
        </p>
    </div>
    @localizer["Text"]
    @localizer["Elchin"]

    <a asp-controller="Products" asp-action="GetAllProduct" asp-route-lang="@ViewContext.RouteData.Values["lang"]">AllProducts</a>
</div>