@model ECommerce.Application.Features.Queries.GetAllProduct.GetAllProductQueryResponse
<div id="latest-products">

    <h2 class="text-center mt-3 mb-3">@ViewBag.Title</h2>


    @foreach (var item in Model.Data)
    {
        <h1>@item.Name</h1>
    }

    <div class="container">
        <div id="content" class="my-5">

            <!--Products-->
            <div id="products">
                <div class="row mx-0">
                    <div class="col-lg-4 col-md-6 pt-md-4 pt-3">
                        <div class="card" style="width: 18rem;">
                            <div>
                                <img src="imgs/img2.jpg" class="card-img-top" alt="...">
                                <div style="position: absolute;top: 1px;right: 0px;">

                                    <div class="stage">
                                        <div class="heart"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <div class="row row-cols-2">
                                    <div class="col">
                                        <p>$9.99</p>
                                    </div>
                                    <div class="col">
                                        <!--Burda if qoyulacaq, eger mehsul alinMAYIBSA, sebeti, alinIBSA, download div gorunecek-->
                                        <div class="basket-icon-div">
                                            <!--Buna basanda, mehsul sebete elave olunur-->
                                            <i class="fa-solid fa-2x fa-basket-shopping" data-toggle="modal"
                                               data-target="#exampleModalCenter" style="color: #000000;"></i>
                                        </div>
                                        <div class="download-icon-div">
                                            <!--Buna basanda mehsul linki ajax ile yuklenecek-->
                                            <i class="fa-solid fa-2x fa-circle-down" style="color: #000000;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-md-4 pt-3">
                        <div class="card" style="width: 18rem;">
                            <div>
                                <img src="imgs/img2.jpg" class="card-img-top" alt="...">
                                <div style="position: absolute;top: 1px;right: 0px;">

                                    <div class="stage">
                                        <div class="heart"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <div class="row row-cols-2">
                                    <div class="col">
                                        <p>$9.99</p>
                                    </div>
                                    <div class="col">
                                        <!--Burda if qoyulacaq, eger mehsul alinMAYIBSA, sebeti, alinIBSA, download div gorunecek-->
                                        <div class="basket-icon-div">
                                            <!--Buna basanda, mehsul sebete elave olunur-->
                                            <i class="fa-solid fa-2x fa-basket-shopping" data-toggle="modal"
                                               data-target="#exampleModalCenter" style="color: #000000;"></i>
                                        </div>
                                        <div class="download-icon-div">
                                            <!--Buna basanda mehsul linki ajax ile yuklenecek-->
                                            <i class="fa-solid fa-2x fa-circle-down" style="color: #000000;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-md-4 pt-3">
                        <div class="card" style="width: 18rem;">
                            <div>
                                <img src="imgs/img2.jpg" class="card-img-top" alt="...">
                                <div style="position: absolute;top: 1px;right: 0px;">

                                    <div class="stage">
                                        <div class="heart"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <div class="row row-cols-2">
                                    <div class="col">
                                        <p>$9.99</p>
                                    </div>
                                    <div class="col">
                                        <!--Burda if qoyulacaq, eger mehsul alinMAYIBSA, sebeti, alinIBSA, download div gorunecek-->
                                        <div class="basket-icon-div">
                                            <!--Buna basanda, mehsul sebete elave olunur-->
                                            <i class="fa-solid fa-2x fa-basket-shopping" data-toggle="modal"
                                               data-target="#exampleModalCenter" style="color: #000000;"></i>
                                        </div>
                                        <div class="download-icon-div">
                                            <!--Buna basanda mehsul linki ajax ile yuklenecek-->
                                            <i class="fa-solid fa-2x fa-circle-down" style="color: #000000;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-md-4 pt-3">
                        <div class="card" style="width: 18rem;">
                            <div>
                                <img src="imgs/img2.jpg" class="card-img-top" alt="...">
                                <div style="position: absolute;top: 1px;right: 0px;">

                                    <div class="stage">
                                        <div class="heart"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <div class="row row-cols-2">
                                    <div class="col">
                                        <p>$9.99</p>
                                    </div>
                                    <div class="col">
                                        <!--Burda if qoyulacaq, eger mehsul alinMAYIBSA, sebeti, alinIBSA, download div gorunecek-->
                                        <div class="basket-icon-div">
                                            <!--Buna basanda, mehsul sebete elave olunur-->
                                            <i class="fa-solid fa-2x fa-basket-shopping" data-toggle="modal"
                                               data-target="#exampleModalCenter" style="color: #000000;"></i>
                                        </div>
                                        <div class="download-icon-div">
                                            <!--Buna basanda mehsul linki ajax ile yuklenecek-->
                                            <i class="fa-solid fa-2x fa-circle-down" style="color: #000000;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-md-4 pt-3">
                        <div class="card" style="width: 18rem;">
                            <div>
                                <img src="imgs/img2.jpg" class="card-img-top" alt="...">
                                <div style="position: absolute;top: 1px;right: 0px;">

                                    <div class="stage">
                                        <div class="heart"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <div class="row row-cols-2">
                                    <div class="col">
                                        <p>$9.99</p>
                                    </div>
                                    <div class="col">
                                        <!--Burda if qoyulacaq, eger mehsul alinMAYIBSA, sebeti, alinIBSA, download div gorunecek-->
                                        <div class="basket-icon-div">
                                            <!--Buna basanda, mehsul sebete elave olunur-->
                                            <i class="fa-solid fa-2x fa-basket-shopping" data-toggle="modal"
                                               data-target="#exampleModalCenter" style="color: #000000;"></i>
                                        </div>
                                        <div class="download-icon-div">
                                            <!--Buna basanda mehsul linki ajax ile yuklenecek-->
                                            <i class="fa-solid fa-2x fa-circle-down" style="color: #000000;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-md-4 pt-3">
                        <div class="card" style="width: 18rem;">
                            <div>
                                <img src="imgs/img2.jpg" class="card-img-top" alt="...">
                                <div style="position: absolute;top: 1px;right: 0px;">

                                    <div class="stage">
                                        <div class="heart"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <div class="row row-cols-2">
                                    <div class="col">
                                        <p>$9.99</p>
                                    </div>
                                    <div class="col">
                                        <!--Burda if qoyulacaq, eger mehsul alinMAYIBSA, sebeti, alinIBSA, download div gorunecek-->
                                        <div class="basket-icon-div">
                                            <!--Buna basanda, mehsul sebete elave olunur-->
                                            <i class="fa-solid fa-2x fa-basket-shopping" data-toggle="modal"
                                               data-target="#exampleModalCenter" style="color: #000000;"></i>
                                        </div>
                                        <div class="download-icon-div">
                                            <!--Buna basanda mehsul linki ajax ile yuklenecek-->
                                            <i class="fa-solid fa-2x fa-circle-down" style="color: #000000;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-md-4 pt-3">
                        <div class="card" style="width: 18rem;">
                            <div>
                                <img src="imgs/img2.jpg" class="card-img-top" alt="...">
                                <div style="position: absolute;top: 1px;right: 0px;">

                                    <div class="stage">
                                        <div class="heart"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <div class="row row-cols-2">
                                    <div class="col">
                                        <p>$9.99</p>
                                    </div>
                                    <div class="col">
                                        <!--Burda if qoyulacaq, eger mehsul alinMAYIBSA, sebeti, alinIBSA, download div gorunecek-->
                                        <div class="basket-icon-div">
                                            <!--Buna basanda, mehsul sebete elave olunur-->
                                            <i class="fa-solid fa-2x fa-basket-shopping" data-toggle="modal"
                                               data-target="#exampleModalCenter" style="color: #000000;"></i>
                                        </div>
                                        <div class="download-icon-div">
                                            <!--Buna basanda mehsul linki ajax ile yuklenecek-->
                                            <i class="fa-solid fa-2x fa-circle-down" style="color: #000000;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-md-4 pt-3">
                        <div class="card" style="width: 18rem;">
                            <div>
                                <img src="imgs/img2.jpg" class="card-img-top" alt="...">
                                <div style="position: absolute;top: 1px;right: 0px;">

                                    <div class="stage">
                                        <div class="heart"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <div class="row row-cols-2">
                                    <div class="col">
                                        <p>$9.99</p>
                                    </div>
                                    <div class="col">
                                        <!--Burda if qoyulacaq, eger mehsul alinMAYIBSA, sebeti, alinIBSA, download div gorunecek-->
                                        <div class="basket-icon-div">
                                            <!--Buna basanda, mehsul sebete elave olunur-->
                                            <i class="fa-solid fa-2x fa-basket-shopping" data-toggle="modal"
                                               data-target="#exampleModalCenter" style="color: #000000;"></i>
                                        </div>
                                        <div class="download-icon-div">
                                            <!--Buna basanda mehsul linki ajax ile yuklenecek-->
                                            <i class="fa-solid fa-2x fa-circle-down" style="color: #000000;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-md-4 pt-3">
                        <div class="card" style="width: 18rem;">
                            <div>
                                <img src="imgs/img2.jpg" class="card-img-top" alt="...">
                                <div style="position: absolute;top: 1px;right: 0px;">

                                    <div class="stage">
                                        <div class="heart"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <div class="row row-cols-2">
                                    <div class="col">
                                        <p>$9.99</p>
                                    </div>
                                    <div class="col">
                                        <!--Burda if qoyulacaq, eger mehsul alinMAYIBSA, sebeti, alinIBSA, download div gorunecek-->
                                        <div class="basket-icon-div">
                                            <!--Buna basanda, mehsul sebete elave olunur-->
                                            <i class="fa-solid fa-2x fa-basket-shopping" data-toggle="modal"
                                               data-target="#exampleModalCenter" style="color: #000000;"></i>
                                        </div>
                                        <div class="download-icon-div">
                                            <!--Buna basanda mehsul linki ajax ile yuklenecek-->
                                            <i class="fa-solid fa-2x fa-circle-down" style="color: #000000;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-warning my-3 text-center btn-orange">Click for more...</button>
                </div>
            </div>
            <!--Products-->
        </div>
    </div>

</div>
