@model ECommerce.Application.Features.Queries.AppUser.GetAllUsers.GetAllUsersQueryResponse
@{
    ViewData["Title"] = "Admin Paneli";
}

<a class="nav-link" asp-controller="users" asp-action="CreateUser">
    Istifadeci yarat
</a>